<!doctype html>
<html lang="en">

<head>
    <title>
        <%=thong_tin.tieu_de%>
    </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="text-center"><img src="images/Koala.jpg" style="width:100px"/></div>
    <h1 class="text-danger text-center">
        <%=thong_tin.dia_chi%>
    </h1>
    <div>
      <% var a=Math.random() %>
      <%=a%>
      <%if(a>0.5){%>
        số lớn
      <%}else{%>
        số nhỏ
      <%}%>
    </div>
    <div>
    Tổng số sản phẩm: <%=thong_tin.san_pham.length%>
    </div>
    <% thong_tin.san_pham.forEach(sp=>{
        if(sp.ma_so%2==1){
    %>
    <div class="card">
        <img class="card-img-top" src="holder.js/100x180/" alt="">
        <div class="card-body">
            <h4 class="card-title"><%=sp.ma_so%></h4>
            <p class="card-text"><%=sp.ten_sp%></p>
        </div>
    </div>
    <%}}) %>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>